*{
	margin: 0;
	padding: 0;
	border: 0;
}

body, html{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main{
	flex: 1;
	align-content: center;
}

header{
	width: 100vw;
	background-color: white;
}

.logo{
	max-height: 120px;
}

.logotipo{
	margin-top: 10px;
	margin-bottom: 5px;
}

.header-main{
	width: 100%;
	text-align: center;
	margin: 5px 0 15px 0;
}

.voltar-ao-topo {
	position: fixed;
	z-index: 999;
	bottom: 120px;
	right: 50px;
	cursor: pointer;
	display: none;
	
}

.voltar-ao-topo img{
	height: 50px;
}

footer{
	background-color: #ec6c5c;
	height: 100px;
}


.main_footer p{ 
	margin-bottom:0;
	color: #eef0ed !important;
}

.main_footer { 
	display: relative;
	background-color:#ec6c5c; 
	width: 100%;
	float:left; 
	text-align:center; 
	padding:1.5em; 
}

.main_footer p { 
	font-size:16px;
	color:black; 
	height:90%; 
}

.carousel-item{
	height:572px;
	background-size: cover;
	background-position: center;
}

.carousel-indicators{
	margin-bottom: 35px;
}

.carousel-item{
	cursor: pointer;
}
